@font-face {
  font-family: 'NanumWaIrDeu';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumWaIrDeu/NanumWaIrDeu.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumWaIrDeu/NanumWaIrDeu.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumWaIrDeu/NanumWaIrDeu.ttf') format('truetype');
}